.notificationContainer {
  overflow: hidden;
  position: relative;
}

.notificationWrapper {
  max-height: 100%;
  height: 100%;
  margin-top: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.hideNotifications {
  margin-top: -100vh;
  max-height: 0px !important;
  transition: all 0.5s;
}

.main {
  height: 100%;
  width: 100%;
}
