.notificationContainer {
  overflow: hidden;
}

.notificationWrapper {
  max-height: 100%;
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s;
}

.hideNotifications {
  max-height: 0 !important;
  transition: max-height 0.3s;
}

.main {
  height: 100%;
  width: 100%;
}
